*{
	padding: ;
	margin: ;
	font-family: sans-serif;
	box-sizing: ;
box-sizing: border-box;
}.hero{
	height: 280vh;
	width: 100%;
	background: url(11.jpg);
	background-size: cover;
}
nav{
	display: flex;
       align-items: center; 
       justify-content: center;
       padding-top: 45px;
       padding-left: 8%;
       padding-right: 8%;
}.logo{
	color: white;
	font-size: 40px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
	
}
nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	justify-content: center;
}
nav ul li a:hover{
	color: black;
	transition: .4s;

}
p{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	position: center;
}
h4{
	color: lightgoldenrodyellow;
	margin-bottom: 10px;
	font-size: 16px;
}
img{
	height: 25vh;
	width: 20%;
}